<h1>Editing grupo</h1>

<% form_for(@grupo) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </p>
  <p>
    <%= f.label :cede %><br />
    <%= f.text_field :cede %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @grupo %> |
<%= link_to 'Back', grupos_path %>